.home{
    background-image: url("./../../assets/backdrop.png");
}
.homeSectionFirst{
    display: flex;
    justify-content: space-between;

}
.homeSectionIntro{
    width: 55%;
}
.homeSectionChatBot{
    position: relative;
}
.chatbotImg{
    height: 500px;
}
.chatbotImg2{
    height: 450px;
    position: absolute;
    left: -100px;
    top: 50px;
    z-index: -1;
}
.btn{
    outline: none;
    border: 1px solid #CAD4BC;
    font-family: 'Syne', sans-serif;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 1rem;
    
}

.btn:hover{
    cursor: pointer;
}

.ejoy{
    background-color: #CAD4BC;
    color: #000000;
    font-weight: 600px;
}

.homeSectionIntro h1{
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 55px;
    color: #000000;
    letter-spacing: 0.01em;
    margin: 15px 0;
    padding-right: 50%;
}

.homeSectionIntro h2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.01em;
    color: #454545;
    width: 80%;
    font-size: 1rem;
}
.homeCodeMapping {
    position: relative;
}
.homeCodeMapping .arrow1Img{
    width: 100%;
    /* position: absolute; */
    margin-left: 50%;
    margin-top: -60%;
    
}
.homeCodeMapping .arrow2Img{
    width: 70%;
    position: absolute;
    right: -50px;
    top: -50px;
}
.homeCodeMapping .codeblock{
    width: 70%;
    margin: 120px 0;
}
footer{
    width: 100%;
    margin: 50px 0;
}
footer img{
    width: 100%;
}

@media screen and (max-width: 1025px){
    .homeCodeMapping .arrow2Img{
        width: 80%;
        right: 0px;
        top: -50px;
    }
    .homeSectionIntro{
        width: 60%;
    }
    .homeSectionChatBot .chatbotImg{
        width:100%
    }
    .homeSectionIntro h1{
        font-size: 40px;
    }
    .homeSectionIntro h2{
        font-size: 15px;
        line-height: 25px;
    }
    .homeCodeMapping .arrow1Img{
        margin-left: 40%;
        margin-top: -30%;
    }
    .homeSectionFeatures{
        width: 95%;
    }
    .homeSectionFocusHeader,.homeSectionFocusText{
        width: 60%;
    }
    .homeSectionFocusHeader h1{
        font-size: 30px;
    }
    .homeSectionFocusText p{
        font-size: 0.7rem;
    }
    .homeSectionGenerate{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.5rem;
    }
    .homeSectionGenerateBottom .firstCard{
        width: 45%;
    }
}